<!DOCTYPE html>
<html>
<head>
  <title>Wermland Forever</title>
  <meta property="fb:app_id" content="<%=Rails.configuration.fb_app_id%>"/>
  <meta property="og:title" content="<%=@og_title ? @og_title.to_s : "Wermland Forever"%>" />
  <meta property="og:description" content="WermlandForever.se är en möjlighet för alla värmlänningar att bidra till och dela bilden av Värmland." />
  <meta property="og:image" content="<%=@og_image ? @og_image.to_s : "http://www.wermlandforever.se/img/logo.png"%>" />
  <%= @header_tags ? @header_tags.html_safe : '' %>
  <%= stylesheet_link_tag "application" %>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="prettyPhoto.css">

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|The+Girl+Next+Door">
  <script src="//assets.pinterest.com/js/pinit.js"></script>

  <script>
  var fbUid = null;
  var fbAccessToken = null;

  function fbInit(callback){
      FB.init({
        appId : '<%=Rails.configuration.fb_app_id%>',
        status : true,
        cookie : true,
        xfbml : true,
      });

      FB.Event.subscribe('auth.statusChange', function(response) {
        if (response.status === 'connected') {
          fbUid = response.authResponse.userID;
          fbAccessToken = response.authResponse.accessToken;

          $('#upload-your-image').removeClass('hidden').hide().fadeIn();
          $('#sign-in').addClass('hidden');
          <%= flash[:facebook_actions] ? flash[:facebook_actions].html_safe : ''%>
        }else{
          $('#sign-in').removeClass('hidden').hide().fadeIn();
          $('#upload-your-image').addClass('hidden');

          $('#sign-in').click(function(){
            FB.login();
          })
        }

        $('.spinner').hide();

      });

      FB.getLoginStatus(function(response) {
        if(response.status=="unknown"){
          $('.spinner').hide();
          $('#sign-in').removeClass('hidden').hide().fadeIn();

          $('#sign-in').click(function(){
            FB.login();
          })
        }
      });

      if(callback)
        callback();
  }
  </script>

</head>
<body>
  <header>
    <a href="/" class="logo">
      <img src="img/logo.png" alt="Wermland Forever">
    </a>

    <nav>
      <ul>
        <li><a href="/" class="active">Bilden av Wermland</a></li>
        <!--<li><a href="<%=why_path%>" class="active">Varför?</a></li>-->
      </ul>
    </nav>
    <script>
    window.fbAsyncInit = function() {
      fbInit();
    }
    </script>

    <img src="/img/ajax-loader.gif" class="spinner">

    <a href="/upload" id="upload-your-image" class="hidden">
      Ladda upp din bild
    </a>

    <div id="sign-in" class="hidden">
      <span>
        Dela med dig av ditt Wermland
        <img src="img/arrow.png">
      </span>
      <div class="fb-connect"></div>
    </div>
  </header>

  <%= yield %>

<div id="fb-root"></div>
<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(66570965);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
</body>
</html>
