<!DOCTYPE html>
<html>
<head>
  <title>Wermland Forever</title>
  <%= @header_tags ? @header_tags.html_safe : '' %>
  <meta property="fb:app_id" content="<%=Rails.configuration.fb_app_id%>"/>
  <meta property="og:title" content="Wermland Forever" />
  <meta property="og:description" content="WermlandForever.se är en möjlighet för alla värmlänningar att bidra till och dela bilden av Värmland." />
  <meta property="og:image" content="http://www.wermlandforever.se/img/logo.png" />
  <%= stylesheet_link_tag "application" %>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="prettyPhoto.css">

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|The+Girl+Next+Door">
  <script src="//assets.pinterest.com/js/pinit.js"></script>

  <script>
  var fbUid = null;
  var fbAccessToken = null;

  function fbInit(callback){
      FB.init({
        appId : '<%=Rails.configuration.fb_app_id%>',
        status : true,
        cookie : true,
        xfbml : true,
      }); 

      FB.Event.subscribe('auth.statusChange', function(response) {
        if (response.status === 'connected') {
          fbUid = response.authResponse.userID;
          fbAccessToken = response.authResponse.accessToken;

          $('#upload-your-image').removeClass('hidden').hide().fadeIn();
          $('#sign-in').addClass('hidden');
        }else{
          $('#sign-in').removeClass('hidden').hide().fadeIn();
          $('#upload-your-image').addClass('hidden');

          $('#sign-in').click(function(){
            FB.login();
          })
        }

        $('.spinner').hide();

      });

      FB.getLoginStatus(function(response) {
        if(response.status=="unknown"){
          $('.spinner').hide();
          $('#sign-in').removeClass('hidden').hide().fadeIn();

          $('#sign-in').click(function(){
            FB.login();
          })
        }
      });

      if(callback)
        callback();
  }
  </script>
<script type="text/javascript">//(function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config".split(" ");
//for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);
//mixpanel.init("6c102db8c785908b1c44e2e379d97227");</script>
</head>
<body>
  <header>
    <a href="/" class="logo">
      <img src="img/logo.png" alt="Wermland Forever">
    </a>

    <nav>
      <ul>
        <li><a href="/" class="active">Senast tillagda</a></li>
        <!--<li><a href="#">Wermlands favoriter</a></li>-->
      </ul>
    </nav>
    <script>
    window.fbAsyncInit = function() {
      fbInit();
    }
    </script>

    <img src="/img/ajax-loader.gif" class="spinner">

    <a href="/upload" id="upload-your-image" class="hidden">
      Ladda upp din bild
    </a>

    <div id="sign-in" class="hidden">
      <span>
        Dela med dig av ditt Wermland
        <img src="img/arrow.png">
      </span>
      <div class="fb-connect"></div>
    </div>
  </header>

  <%= yield %>

<div id="fb-root"></div>
</body>
</html>
